/* stylelint-disable scss/at-rule-no-unknown, custom-property-empty-line-before */
@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-slate-500: #6f7d91;
  --color-slate-600: #2f3a49;
  --color-slate-700: #1d242e;
  --color-slate-800: #0D1117;
  --color-slate-900: #080c10;
}
